<?xml version="1.0"?>
<config>
  <global>
    <modules>
      <MichaelThessel_Orderpopup>
        <version>0.1.0</version>
      </MichaelThessel_Orderpopup>
    </modules>
    <blocks>
      <orderpopup>
        <class>MichaelThessel_Orderpopup_Block</class>
      </orderpopup>
    </blocks>
    <models>
      <orderpopup>
        <class>MichaelThessel_Orderpopup_Model</class>
      </orderpopup>
    </models>
    <helpers>
      <orderpopup>
        <class>MichaelThessel_Orderpopup_Helper</class>
      </orderpopup>
    </helpers>
  </global>
  <frontend>
    <routers>
      <orderpopup>
        <use>standard</use>
        <args>
          <module>MichaelThessel_Orderpopup</module>
          <frontName>orderpopup</frontName>
        </args>
      </orderpopup>
    </routers>
    <layout>
      <updates>
        <michaelthessel_orderpopup>
          <file>orderpopup.xml</file>
        </michaelthessel_orderpopup>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <orderpopup>
                      <title>New Order Notification</title>
                    </orderpopup>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <default>
    <orderpopup>
      <settings>
        <enabled>1</enabled>
        <format_string>[name] from [city], [state], [country] just ordered [product]</format_string>
        <delay_initial>5000</delay_initial>
        <delay>60000</delay>
        <delay_dialog>5000</delay_dialog>
      </settings>
    </orderpopup>
  </default>
</config>
